body  {
  margin: 0;
  padding: 0;
  font-family: 'SansSerif', 'Arial';
}

.logo  {
  color: darkmagenta;
  float: left;
  padding-left: 10px;
  font-size: 40px;
  font-weight: lighter;
  font-family: SansSerif;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;

}

.logo > a {
  text-decoration: none;
  color: red;
  font-size: 50px;
  font-family: SansSerif;
}

.logo:hover {
  text-decoration: none;
  color: black;
}

.section  {
  padding: 8rem 0 7rem;
  text-align: center;
}

.section-heading,
.section-description  {
  margin-bottom: 1.2rem;
  text-align: center;
}

.showcase-img {
  position: absolute;
  max-width: 200%;
  margin: 3rem auto -12rem;
}

.section-a  {
  background-size:cover;
  padding-bottom: 5rem;
}

.section-a.fa {
  font-size:40px;
  margin-bottom: 5rem;
  color: #beebff;
}

.section-a-h5 {
  margin-bottom:.3rem;
}

.section-c  {
  color:#fff;
}

.section-c .section-description {
  margin-bottom:4rem;
}

h1  {
  padding-top: 12%;
  text-align: center;
  font-family: SansSerif;
  font-size: 120px;
}

h2  {
  padding-top: 4%;
  text-align: center;
  font-size: 50px;
    font-family: Monospaced;
  color: coral;
  font-stretch: extra-expanded;
}

h3  {
  padding-top: 5%;
  text-align: center;
  font-size: 30px;
  font-family: "Liberation Serif";
  color: dimgray;

}

h4  {
  padding-top: 5%;
  text-align: center;
  font-size: 50px;
  font-family:
  color- SansSerif;
  font-stretch: extra-expanded;
}

.button-primary {
  padding-top: 8%;
  text-align: center;
}

.swagButton {
  display: inline-block;
  text-align: center;
  font-family: Monospaced;
  font-weight: 200;
  font-size: 20px;
  padding: 10px 40px;
  color: black;
  border: solid 2px black;
  border-radius: 50px;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}

.swagButton:hover {
  text-decoration: none;
  background-color: black;
  color: white;

}

.form-inline  {
  padding-top: 1%;
  padding-bottom: 8%;
}

.btn-primary  {
  text-align: center;
}

.inc  {
  padding-top: 5%;
  padding-bottom: 8%;
}

.row  {
  padding-top: 5%;
}
